<tr>
  <td colspan=100>
    <table>
      <tr>
        <th style="width:10%">Year</th>
        <td style="width:90%">{{ yearbox|safe}}</td>
      </tr>
      <tr>
        <th>Agent</th>
        <td>{employees_select}</td>
      </tr>
      <tr>
        <th style="width:10%">Comments</th>
        <td style="width:90%">
          <ul>
            {% for entry in comments %}
            <li>{{ entry }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Total Balances</th>
        <td>
          <table>
            {% for balance in balances %}
            <tr><th>{{ balance.0 }}</th><td> {{ balance.1 }}</td></tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
