apache_settings.py
timetracker/static/admin/*
timetracker/static/admin
timetracker/static_collected/*
timetracker/static/jquery/css/ui-darkness/images/*
.ropeproject/*
admin/*
*.pyc
*.xcf
settings.py
.#*
*.py#
tt.wsgi
tt.py
eproject.cfg
*.log
docs/build/
tracker/notifications.py
*.csv
vcs/plugins/*
bin/
lib/
include/
