<body>
  <title>4040404040404040404040404040404</title>
  <img src="{{ STATIC_URL}}images/404.jpg" />
{% if not error %} 
  <script type="text/javascript">
    setTimeout(function() {
                  window.open("/", "_self");
              }, 2500
    );
  </script>
{% else %}
  {{ error }} 
{% endif %}
</body>
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
<!--EXTRADATATOGETIETODISPLAYCUSTOM404-->
