{% extends "base.html" %}

{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css" rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/admin-nav.html" %}
{% endblock menubar %}
{% block content %}

<div id=IEroot>
<table id="user-table">
  <tr>
    <td valign="top">
      {{ employee_option_list|safe }}
    </td>
    <td valign="top">
      <div id="calendar_div"></div>
    </td>
    <td valign="top">
      <table id="admin-inner-cal">
        <tr>
          <td colspan="2">
            <p>Your team's status:</p>
          </td>
        </tr>
        {% for employee in employees.users.all %}
        <tr>
          <td>
            <p>{{ employee.name }}</p>
          </td>
          <td>
            {{ employee.get_total_balance|safe }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>
</table>
</div>

{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/admin_view.js"></script>
{% endblock additional_javascript %}

