{% extends "base.html" %}

{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/admin_view.js"></script>
<script type="text/javascript">
  $( function () {
      $("#user_select").attr("onchange", "onOptionChange('123123')");
      onOptionChange();
  });
</script>
{% endblock header %}
{% block content %}

<table id="user_table" border="1">
  <tr>
    <td valign="top">
      {% for item in employees %}
        {{ item.as_option_list|safe }}
      {% endfor %}
    </td>
    <td>
      <div id="calendar_div"></div>
    </td>
  </tr>
</table>

{% endblock content %}
