{% extends "base.html" %}

{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/admin_view.js"></script>
<script type="text/javascript">
  $( function () {
      $("#user_select").attr("onchange", "onOptionChange()");
      onOptionChange();
  });
</script>
{% endblock header %}

{% block menubar %}
<div id="menu-bar">
  <a  href="/holiday_planning/">
    <img class="menu-button"
         src="{{ STATIC_URL }}images/base/menu_item.gif" />
  </a>
  <a  href="/csvout/">
    <img class="menu-button"
         src="{{ STATIC_URL }}images/base/export_to_csv.gif" />
  </a>
  <a  href="/placeholder/">
    <img class="menu-button"
         src="{{ STATIC_URL }}images/base/placeholder.gif" />
  </a>
  <a  href="/add/">
    <img class="menu-button"
         src="{{ STATIC_URL }}images/base/add.gif" />
  </a>

  <img id="logo-btn"
       src="{{ STATIC_URL }}images/base/hp.gif" />

  <a id="logout" href="/logout/">
    <img class="menu-button"
         src="{{ STATIC_URL }}images/base/logout.gif" />
  </a>

</div>
{% endblock menubar %}
{% block content %}
<table id="user_table">
  <tr>
    <td valign="top">
      {{ employees.as_option_list|safe }}
    </td>
    <td>
      <div id="calendar_div"></div>
    </td>
    <td valign="top">
      <table id="admin-inner-cal">
        <tr>
          <td colspan="2">
            <p>Your team's status:</p>
          </td>
        </tr>
        {% for employee in employees.users.all %}
        <tr>
          <td>
            <p>{{ employee.name }}</p>
          </td>
          <td>
            {{ employee.get_total_balance|safe }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>
  

</table>

{% endblock content %}
