
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}stylesheet.css" type="text/css" rel="stylesheet" />
	<link type="text/css" href="{{ STATIC_URL }}jquery/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/csrf_protection.js"></script>
    {% block header %}
    {% endblock header %}
       <div id="menu-bar">
         Home
       </div>
    {% block content %}
    {% endblock %}
