<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}stylesheet.css" type="text/css" rel="stylesheet" />
	<link type="text/css" href="{{ STATIC_URL }}jquery/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}nav.css" type="text/css" rel="stylesheet" />
    {% block header %}
    {% endblock header %}
    {% block menubar %}
    {% endblock menubar %}
    {% block content %}
    {% endblock %}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/csrf_protection.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/validation.js"></script>
    {% block additional_javascript %}
    {% endblock additional_javascript %}
