{% extends "base.html" %}

{% block header %}
    <link href="{{ STATIC_URL }}calendar.css" type="text/css"
          rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/timepicker.js">
    </script>

    <style type="text/css">
       #calendar {
            position: absolute;
            left: 50%;
            top: 1%;
       }
       
       #js-option {
            position: absolute;
            left: 420px;
            top: 1%;
       }

       #comments {
       left: 10px;
       top: 1%;
       }
       .ui-widget { font-size: 12px; }
	   .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	   .ui-timepicker-div dl { text-align: left; }
	   .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	   .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	   .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
    </style>
{% endblock header %}
{% block content %}
<form action="#">
<label>Start Time
  <input id="starttime" />
</label>
<script type="text/javascript">
   $("starttime").timepicker({});
   $("starttime").hide();
</script>
<div id="js-option"></div>
{{ calendar|safe }}
{% endblock %}
