{% extends "base.html" %}

{% block header %}
    <link href="{{ STATIC_URL }}calendar.css" type="text/css"
          rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/timepicker.js"></script>
    
    <script type="text/javascript">
      function addTimePicker(element, state) {
          $(element).timepicker({});
          $(element).val('');
      
          if (!state) {
              $(element).timepicker("disable");
          }
       };

       function addDatePicker(element, state) {
           $(element).datepicker().val('');
           $(element).datepicker("option", "dateFormat", 'yy-mm-dd');
       
           if (!state) {
              $(element).datepicker("disable");
           }
       };

        $(function () {
            addTimePicker("#line_starttime", false);
            addTimePicker("#line_endtime", false);
            addTimePicker("#add_starttime", true);
            addTimePicker("#add_endtime", true);
            addDatePicker("#line_entrydate", false);
            addDatePicker("#add_entrydate", true);


        });
   
        function ajaxCall(form) {
            $.ajaxSetup({type: 'POST'});
            var pre = "#" + form + "_";

            var formData = {
                "form_type"  : form,
                "entry_date" : $(pre + 'entrydate').val(),
                "start_time" : $(pre + 'starttime').val(),
                "end_time"   : $(pre + 'endtime').val(), 
                "daytype"    : $(pre + 'daytype').val(),
            };
            
            $.ajax({
                url: "/ajax/",
                data: formData,
                dataType: "json",
                success: function(data) {
                            if (data['success'] == true) {
                                   $("#calendar-entry").html(data['calendar']);
                             } else {
                                   alert(data['error']);
                             }
                         }
                }
            );

            return false;
         }
    </script>

{% endblock header %}

{% block content %}
<body>
<table id="calendar-table" >
  <tr>
    <td>
      <form action="" id="add-form">
        {% csrf_token %}
        <fieldset class="entry-form" id="add-entry-fs">
          <legend class="fs-title">Add Entry</legend>
          <table>
            <tr>
               <th>
                <label for="add_entrydate">
                  Entry Date:
                </label>
              </th>
              <td>
                {{ addform.entry_date }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="add_starttime">
                  Start Time:
                </label>
              </th>
              <td>
                {{ addform.start_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="add_endtime">
                  End Time:
                </label>
              </th>
              <td>
                {{ addform.end_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="cmd_daytype">
                  Day Type:
                </label>
              </th>
              <td>
                {{ addform.daytype }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right">
                <input type="button"
                       onclick="ajaxCall('add')"
                       id="add_button"
                       value="Add"/>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </td>
    
    <td id="calendar-entry" rowspan="2">
      {{ calendar|safe }}
    </td>
    
  </tr>

  <tr>
    <td>
      <form action="#" method="POST" id="change-form">
        {% csrf_token %}
        <fieldset class="entry-form" id="change-entry-fs">
          <legend class="fs-title">Change Entry</legend>
          <table>
            <tr>
              <th>
                <label for="line_entrydate">
                  Entry Date:
                </label>
              </th>
              <td>
                {{ changeform.entry_date }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="line_starttime">
                  Start Time:
                </label>
              </th>
              <td>
                {{ changeform.start_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="line_endtime">
                  End Time:
                </label>
              </th>
              <td>
                {{ changeform.end_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="cmd_daytype">
                  Day Type:
                </label>
              </th>
              <td>
                {{ changeform.daytype }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right">
                <input type="button"
                       onclick="alert('not implemented')"
                       value="Change" />
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </td>
  </tr>
</table>
{% endblock content %}

</body>
