{% extends "base.html" %}

{% block header %}
    <link href="{{ STATIC_URL }}calendar.css" type="text/css"
          rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/timepicker.js"></script>
{% endblock header %}

{% block content %}
<body>
<table id="calendar-table" >
  <tr>
    <td>
      <form action="#" method="POST" id="add-form">
        {% csrf_token %}
        <fieldset class="entry-form" id="add-entry-fs">
          <legend class="fs-title">Add Entry</legend>
          <table>
            <tr>
              <th>
                <label for="add_entrydate">
                  Entry Date:
                </label>
              </th>
              <td>
                {{ addform.entry_date }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="add_start_time">
                  Start Time:
                </label>
              </th>
              <td>
                {{ addform.start_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="add_endtime">
                  End Time:
                </label>
              </th>
              <td>
                {{ addform.end_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="cmd_daytype">
                  Day Type:
                </label>
              </th>
              <td>
                {{ addform.daytype }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right">
                <button>Submit</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </td>
    
    <td rowspan="2">
      {{ calendar|safe }}
    </td>
    
  </tr>
  
  <tr>
    <td>
      <form action="#" method="POST" id="change-form">
        {% csrf_token %}
        <fieldset class="entry-form" id="change-entry-fs">
          <legend class="fs-title">Change Entry</legend>
          <table>
            <tr>
              <th>
                <label for="line_entrydate">
                  Entry Date:
                </label>
              </th>
              <td>
                {{ changeform.entry_date }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="line_start_time">
                  Start Time:
                </label>
              </th>
              <td>
                {{ changeform.start_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="line_endtime">
                  End Time:
                </label>
              </th>
              <td>
                {{ changeform.end_time }}
              </td>
            </tr>
            <tr>
              <th>
                <label for="cmd_daytype">
                  Day Type:
                </label>
              </th>
              <td>
                {{ changeform.daytype }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right">
                <button>Submit</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </td>
  </tr>
</table>

  <script type="text/javascript">
    function addTimePicker(element, state) {
       $(element).timepicker({});
       $(element).val('');
       
       if (!state) {
          $(element).timepicker("disable");
       }
   };

   function addDatePicker(element, state) {
       $(element).datepicker();
       $(element).val('');
       $(element).datepicker("option", "dateFormat", 'yy-mm-dd');
       
       if (!state) {
          $(element).datepicker("disable");
       }
   };

   addTimePicker("#line_starttime", false);
   addTimePicker("#line_endtime", false);
   addTimePicker("#add_starttime", true);
   addTimePicker("#add_endtime", true);
   
   addDatePicker("#line_entrydate", false);
   addDatePicker("#add_entrydate", true);


</script>
{% endblock content %}
</body>
