{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}forgotpass.css" type="text/css" rel="stylesheet" />
{% endblock header %}
{% block content %}
<div id="IEroot">
  <div id="wrapper">
    <form action="/forgot_my_password/" method="POST">
      {% csrf_token %}
      <label for="email_input">Your Email:</label>
      <input type="text" name="email_input" />
      <button onclick="return false;" value="Submit">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}
