{% extends "base.html" %}

{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css"
      rel="stylesheet" />
<link href="{{ STATIC_URL }}holidays.css" type="text/css"
      rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/holiday_page.js"></script>
{% endblock header %}

{% block menubar %}
{% include "includes/nav.html" %}
{% endblock menubar %}

{% block content %}
<!--[IF IE]>
<div id="IEroot">
  <![endif]-->
{{ holiday_table|safe }}
<!--[IF IE]>
</div>
<![endif]-->
{% endblock content %}
