{% extends "base.html" %}

{% block menubar %}
 {% include 'includes/nav.html' %}
{% endblock menubar %}

{% block content %}
<table id="edit-user-table">
  <tr>
    <td valign="top"1>
      {{ employees.as_option_list|safe }}
    </td>
    <td>
      <table>
       {{ user_form.as_table }}
      </table>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td align="right">
      <input type="button" name="submit" value="Clear"/>
      <input type="button" name="submit" value="Delete"/>
      <input type="button" name="submit" value="Change"/>
    </td>
    
</table>


{% endblock %}
