{% extends "base.html" %}

{% block header %}
{% endblock header %}
{% block menubar %}
{% include "includes/admin-nav.html" %}
{% endblock menubar %}

{% block content %}
<!--[ifIE]>
<div id=IEroot>
<!--[endif]-->
<div id="edit-user-wrapper">
  <table id="edit-user-table">
    <tr>
      <td valign="top"1>
        {{ employees.as_option_list|safe }}
      </td>
      <td>
        <form id="user-edit-form">
          <table>
            {{ user_form.as_table }}
          </table>
        </form>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td align="right">
        <input type="button" onclick="clearForm()" value="Clear"/>
        <input type="button" onclick="deleteEntry()" value="Delete"/>
        <input type="button" onclick="addChangeEntry('add')" value="Add"/>
        <input type="button" onclick="addChangeEntry('Change')" value="Change"/>
      </td>
  </table>
</div>
<!--[ifIE]>
</div>
<!--[endif]-->
{% endblock %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/useredit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/timepicker.js"></script>
{% endblock additional_javascript %}
