{% extends "base.html" %}

{% block menubar %}
 {% include 'includes/nav.html' %}
{% endblock menubar %}

{% block content %}
<table id="edit-user-table" border="1">
  <tr>
    <td valign="top"1>
      {{ employees.as_option_list|safe }}
    </td>
    <td>
      <table>
        <tr>
          <td>
            <label>Name:
            <input />
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Name:
            <input />
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Naasdasdme:
            <input />
            </label>
          </td>
        </tr>
      </table>
    </td>
        
  </tr>
</table>
{% endblock %}
