{% extends "includes/nav.html" %}
{% block right_aligned_elements %}
<li id="balance"><a href="/explain/"><br/>Your balance is: {{ balance|safe }}</a></li>
{% endblock right_aligned_elements %}
{% block navelements %}
<li><a href="/holiday_planning/"><br/>Holiday Planning</a></li>
<li><a href="/yearview/"><br/>Year View</a></li>
<li><a href="/calendar/"><br/>Time Tracking</a></li>
<li><a href="/user_edit/"><br/>Add/Change Agent</a></li>
<li><a href="/reporting/"><br/>Reporting</a></li>
<li><a href="/overtime/"><br/>Overtime</a></li>
<li><a href="/edit_profile/"><br/>Profile</a></li>
{% endblock navelements %}
