<link href="{{ STATIC_URL }}nav.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div id="naver">
    <div id="right-elems">
      {% block right_aligned_elements %}
      {% endblock right_aligned_elements %}
      <li id="logout-btn"><a href="/logout/"><br/>Logout</a></li>
    </div>
    {% block navelements %}
    {% endblock navelements %}
    {% if logged_in_user.vcsenabled %}
    {% if logged_in_user.is_admin %}
    <li><a href="{% url 'timetracker.industrial_engineering.views.utilization' %}"><br/>VCS Reports</a></li>
    {% endif %}
    <li><a href="/vcs/insert"><br/>VCS</a></li>
    {% endif %}
  </div>
