{% extends "includes/nav.html" %}

{% comment %}

This used to be different from the admin-nav.html file but some features
were deprecated and some made available to all admin personnel so the
two nav bars are now the same.

However, it's useful to later down the line enable/disable things depending
on the user type so I left it in.

{% endcomment %}

{% block right_aligned_elements %}
<li id="balance"><a href="/explain/"><br/>Your balance is: {{ balance|safe }}</a></li>
{% endblock right_aligned_elements %}
{% block navelements %}
<li><a href="/admin_view/"><br/>Overview</a></li>
<li><a href="/holiday_planning/"><br/>Holiday Planning</a></li>
<li><a href="/yearview/"><br/>Year View</a></li>
<li><a href="/calendar/"><br/>Time Tracking</a></li>
<li><a href="/user_edit/"><br/>Add/Change Agent</a></li>
<li><a href="/reporting/"><br/>Reporting</a></li>
<li><a href="/overtime/"><br/>Overtime</a></li>
{% if user.has_pending_approvals %}
  <li><a class="notification-label" href="{% url "timetracker.overtime.views.approval_list" %}">
      {{ approval_notifications|safe }}
      <br/>Approvals</a></li>
{% else %}
  <li><a href="{% url "timetracker.overtime.views.approval_list" %}"><br/>Approvals</a></li>
{% endif %}
<li><a href="/edit_profile/"><br/>Profile</a></li>
{% endblock navelements %}
