/* calendar days */

.holiday-button {
    height: 30px;
    width: 30px;
}

#table-legend {
   color: black;
}

.day-names {
   background: black;
   color: white;
   width: 50px;
}

.table-header {
   background: black;
   color: white;
}

.empty {
   border: 1px solid white;
   background-color: #1d1d1d;
}

.empty:hover {
   background-color: orange;
   color: black;
}

.empty-day {
   background-color: #A1A3A0;
}

.empty-day:hover {
   background-color: orange;
   color: black;
}

.WKEND {
   background-color: #DCDCDC;
}

.WKEND:hover {
   background-color: orange;
   color: black;
}

.WKDAY {
   background-color: #EDEDED;
}

.WKDAY:hover {
   background-color: orange;
   color: black;
}

.ROVER {
   background-color: #CCFFFF;
}

.ROVER:hover {
   background-color: orange;
   color: black;
}

.SICKD {

   background-color: #33FF00;
   color: black;
}

.SICKD:hover {
   background-color: orange;
   color: black;
}

.HOLIS {

   background-color: #ffff80;
   color: black;
}

.HOLIS:hover {
   background-color: orange;
   color: black;
}

.SPECI {

   background-color: #00c000;
}

.SPECI:hover {
   background-color: orange;
   color: black;
}

.MEDIC {

    background-color: #ffc0c0;
}

.MEDIC:hover {
   background-color: orange;
   color: black;
}

.PUABS {

    background-color: #8080ff;
}

.PUABS:hover {
   background-color: orange;
   color: black;
}

.PUWRK {

   background-color: #ff8000;
}

.PUWRK:hover {
   background-color: orange;
   color: black;
}

.SATUR {

   background-color: #c04000;
}

.SATUR:hover {
   background-color: orange;
   color: black;
}

.RETRN {

   background-color: #ffc080;
   color: black;
}

.RETRN:hover {
   background-color: orange;
   color: black;
}

.WKHOM {
   background-color: #004000;
}

.WKHOM:hover {
   background-color: orange;
   color: black;
}

.DAYOD {
   background-color: #660066;
}

.DAYOD:hover {
   background-color: orange;
   color: black;
}

.TRAIN {
   background-color: #3366ff;
}

.TRAIN:hover {
   background-color: orange;
   color: black;
}

.OTHER {
   background: pink;
   color: black;
}

.OTHER:hover {
   background-color: orange;
   color: black;
}

.OK {
   background: #B8B8B8;
}

.OVERTIME {
   background: red;
}

.UNDERTIME {
   background: yellow;
}

.selected {
   background-color: #FF6F00;
   color: black;
}

#calendar {
   text-align: center;
   background: black;
   height: 350px;
}

.day-class:hover {
   background-color: #FE9E2D;
}

.table-links {
   color: white;
   text-decoration: none;
}

/*

TimePicker widget CSS

this is a jQuery add-on

*/

.ui-widget {
   font-size: 12px;
}

.ui-widget-header {
    font-weight: bold;
}

.ui-timepicker-div .ui-widget-header {
   margin-bottom: 8px;
}

.ui-timepicker-div dl {
   text-align: left;
}

.ui-timepicker-div dl dt {
   height: 25px;
   margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
   margin: 0 10px 10px 65px;
}

.ui-tpicker-grid-label {
   border: none;
   margin: 0;
   padding: 0;
}

#ui-datepicker-div {
   color: white;
}

/* table */

#calendar-table {
   background: white;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
}

#table-wrapper {
   margin: 0px 20px 0px 20px;
}

/* Forms */

.change-el {
   background: white;
}

.entry-form {
   background: white;
   width: 300px;
   border: 2px solid black;
}

.fs-title {
   border: 2px solid black;
   background: silver;
}