* {
   font-family: "Trebuchet MS", Helvetica, sans-serif
}

body {
   background: white;
}

#menu-bar {
   position: absolute;
   height: 35px;
   top: 0%;
   left: 0%;
   width: 100%;
   padding: 0;
   background: #1d1d1d;
   color: white;
   box-shadow: 0px 0px 50px white;
}

.menu-button {
   height: 50px;
   width: 200px;
   border-right: 7px solid #1d1d1d;
   text-align: center;
}

#centre-block {
   position: absolute;
   top: 0%;
   padding: 0;
   height: 100%;
   left: 20%;
   right: 20%;
   background: #1d1d1d;
   border-left: 3px solid #5E8AFF;
   border-right: 3px solid #5E8AFF;
   z-index: -1;
   box-shadow: 0px -3px 50px -5px black;
   -webkit-box-shadow: 0px -3px 15px -5px black;
   -moz-box-shadow: 0px -3px 50px 5px black;
}

#hp-logo {
   padding: 6px;
   float: right;
}

#wrapper {
   position: relative;
   margin-top: 20%;
   margin-left: auto;
   margin-right: auto;
   background: white;
   height: 300px;
   box-shadow: 0px 0px 30px #5E8AFF;
   border: 3px solid #5E8AFF;
   color: #1d1d1d;
}

#login {
   position: relative;
   z-index: 99;
}

#logout {
   position: absolute;
   top: 0px;
   right: 100px;
}

#logo-btn {
   position: absolute;
   top: 0px;
}

#login-fs {
    background: none;
    border: 1px solid blue;
}

#login-table {
   position: relative;
   top: 50px;
   left: 12%;
}

#user-table {
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
}

.tracker-val-ok {
   background: green;
   color: black;
}

.tracker-val-warning {
   background: yellow;
   color: black;
}

.tracker-val-danger {
   background: red;
   color: black;
}

#admin-inner-cal {
   border: 1px solid black;
   color: #1d1d1d;
}

a {
   text-decoration: none;
}

a img {
   border: none;
}

a:hover {
   color: none;
}

a:visited {
   color: #1d1d1d;
}

#edit-user-table {
   border: 2px solid #1d1d1d;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   color: #1d1d1d;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#text-item {
   width: 80%;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
}

#code {
   border: 1px solid black;
   font-family: "Courier New" Courier monospace;
}

#doculink {
   border-radius: 2px;
   align: right;
   text-align: right;
   position: fixed;
   background-color: #5e9aff;
   border: 1px solid black;
   right: 0;
   bottom: 0;
   height: 3%;
}

#doculink a {
   height: 50px;
   display: block;
   padding: 0px 15px;
   text-decoration: none;
   font-weight: bold;
   color: #1d1d1d;
   border-right: 1px solid #ccc;
}

.row-a {
   background-color: #EEEEEE;
}

