/* calendar days */

.day-names {
   background-image: url('images/tableheader_flip.gif');
   color: white;
   width: 50px;
}

.table-header {
   background: black;
   color: white;
}

.empty {
   background-image: url('images/calendar/blank.gif');
}

.empty-day {
   background-image: url('images/calendar/blank_days.gif');
}

.WKDAY {
   background-image: url('images/calendar/work_day.gif');
}

.SICKD {
   background-image: url('images/calendar/sick.gif');
}

.HOLIS {
   background-image: url('images/calendar/holiday.gif');
}

.SPECI {
   background-image: url('images/calendar/special.gif');

}

.OTHER {
   background: pink;
}

#calendar {
   text-align: center;
   background: #1d1d1d;
   height: 350px;
}

.day-class:hover {
   background-image: url('images/calendar/calendar_selected.gif');
}

.table-links {
   background: transparent;
   color: white;
   text-decoration: none;
}

/*

TimePicker widget CSS

this is a jQuery add-on

*/

.ui-widget {
   font-size: 12px;
}

.ui-widget-header {
    font-weight: bold;
}

.ui-timepicker-div .ui-widget-header {
   margin-bottom: 8px;
}

.ui-timepicker-div dl {
   text-align: left;
}

.ui-timepicker-div dl dt {
   height: 25px;
   margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
   margin: 0 10px 10px 65px;
}

.ui-tpicker-grid-label {
   border: none;
   margin: 0;
   padding: 0;
}

#ui-datepicker-div {
   color: white;
}

/* table */

#calendar-table {
   background: black;

}

#table-wrapper {
   margin: 0px 20px 0px 20px;
}

/* Forms */

.change-el {
   background: white;
}

.entry-form {
   background: white;
   width: 320px;
   border: 2px solid black;
}

.fs-title {
   border: 2px solid black;
   background: silver;
}