
/* calendar days */

.day-names {
   background: black;
   color: white;
   width: 50px;
}

.table-header {
   text-align: center;
   background: #FF6600;
}

.empty {
   background: white;
   color: white;
}

.empty-day {
   background: white;
}

.WKDAY {
   background: red;
}

.WKDAY:hover {
    background: white;
}

.SICKD {
   background: green;
}

.HOLIS {
   background: silver;
}

.SPECI {
   background: yellow;
}

.OTHER {
   background: pink;
}

#calendar {
   text-align: center;
   background: #1d1d1d;
   height: 350px;
}

.day-class:hover {
    background: orange;
    border: 1px solid white;
}

.table-links {
   background: inherit;
   color: #1d1d1d;
   text-decoration: none;
}

#comments {
   left: 10px;
   top: 1%;
}

/*

TimePicker widget CSS

this is a jQuery add-on

*/

.ui-widget {
   font-size: 12px; 
}

.ui-widget-header {
    font-weight: bold;
}

.ui-timepicker-div .ui-widget-header {
   margin-bottom: 8px; 
}

.ui-timepicker-div dl { 
   text-align: left; 
}

.ui-timepicker-div dl dt { 
   height: 25px; 
   margin-bottom: -25px; 
}

.ui-timepicker-div dl dd { 
   margin: 0 10px 10px 65px; 
}

.ui-tpicker-grid-label {
   border: none;
   margin: 0;
   padding: 0; 
}

#ui-datepicker-div {
   color: white;
}

/* table */

#calendar-table {
   background: #3299CC;
   position: absolute;
   left: 20%;
   border: 5px solid black;
   border-radius: 15px;
}

/* Forms */

.change-el {
   background: white;
}

.entry-form {
   background: white;
   width: 300px;
   border: 5px solid black;
   border-radius: 15px;
}

.fs-title {
   border: 2px solid black;
   border-radius: 5px;
   background: orange;
}