/* calendar days */

.day-names {
   background: black;
   color: white;
   width: 50px;
}

.table-header {
   background: black;
   color: white;
}

.empty {
   background-color: #1d1d1d;
}

.empty-day {
   background: url('images/calendar/days_sprite.gif') 0 -215px;
}

.WKDAY {
    background-color: #ff0000;
}

.SICKD {
    background: url('images/calendar/days_sprite.gif') 0 -172px;
}

.HOLIS {
    background-color: #ffff80;
}

.SPECI {
    background-color: #00c000;
}

.MEDIC {
    background-color: #ffc0c0;
}

.PUABS {
    background-color: #8080ff;
}

.PUWRK {
    background-color: #ff8000;
}

.SATUR {
    background-color: #c04000;
}

.RETRN {
    background-color: #ffc080;
}

.WKHOM {
    background-color: #004000;
}

.DAYOD { 
    background-color: #660066;
}

.TRAIN {
    background-color: #3366ff;
}

.OTHER {
   background: pink;
}

.selected {
   background-color: #FF6F00;
}

#calendar {
   text-align: center;
   background: #1d1d1d;
   height: 350px;
}

.day-class:hover {
   background: url('images/calendar/days_sprite.gif') 0 -258px ;
}

.table-links {
   background: transparent;
   color: white;
   text-decoration: none;
}

/*

TimePicker widget CSS

this is a jQuery add-on

*/

.ui-widget {
   font-size: 12px;
}

.ui-widget-header {
    font-weight: bold;
}

.ui-timepicker-div .ui-widget-header {
   margin-bottom: 8px;
}

.ui-timepicker-div dl {
   text-align: left;
}

.ui-timepicker-div dl dt {
   height: 25px;
   margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
   margin: 0 10px 10px 65px;
}

.ui-tpicker-grid-label {
   border: none;
   margin: 0;
   padding: 0;
}

#ui-datepicker-div {
   color: white;
}

/* table */

#calendar-table {
    background: black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#table-wrapper {
   margin: 0px 20px 0px 20px;
}

/* Forms */

.change-el {
   background: white;
}

.entry-form {
   background: white;
   width: 320px;
   border: 2px solid black;
}

.fs-title {
   border: 2px solid black;
   background: silver;
}

::-moz-selection {
   background: transparent;
}