#full-table-wrapper {
   margin-top: 85px;
}

#holiday-table {
   border-collapse: collapse;
   border-color: #1d1d1d;
   margin-left: auto;
   margin-right: auto;
   color: white;
}

.IEfix_nav {
   margin-top: 150px;
   z-index: 99;
}
.IEfix {
   margin-top: 150px;
   margin-left: auto;
   margin-left: auto;
   z-index: -99;
}

#holiday-buttons {
   color: black;
   background-color: white;
}

.holiday-button {
   width: 30px;
   height: 30px;
}

#holiday-table td {
    width: 18px;
    height: 18px
}

