#holiday-table {
    background: black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


.HOLIS {
    background: url('images/calendar/holiday_sprite.gif') 0px -35px;
}

.empty {
    background: url('images/calendar/holiday_sprite.gif') 0px 0px;
}