#centre-block {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 320px;
    background: #1d1d1d;
    border-left: 3px solid #5E8AFF;
    border-right: 3px solid #5E8AFF;
    z-index: -1;
    box-shadow: 0px -3px 50px -5px black;
    -webkit-box-shadow: 0px -3px 15px -5px black;
    -moz-box-shadow: 0px -3px 50px 5px black;
}
