{% extends "base.html" %}
{% load humanize %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}
{% block header %}
<link href="{{ STATIC_URL }}approval_list.css" type="text/css"
      rel="stylesheet" />
<link href="{{ STATIC_URL }}DataTables/css/jquery.dataTables.css" type="text/css"
      rel="stylesheet" />
{% endblock header %}
{% block title %}
Accept/Edit Tracking Entry
{% endblock title %}

{% block content %}
<!--[if IE 7]>
    <div id="isie" isie="true"></div>
    <![endif]-->
<!--[if IE]>
    <div id=IEFix>
      <![endif]-->
<div id="full-table-wrapper">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
	  <tr>
	    <th>Agent</th>
	    <th>Date</th>
        <th>Link Date</th>
	    <th>Hours</th>
        <th>Approve/Deny</th>
	  </tr>
	</thead>
	<tbody>
      {% for approval in approvals %}
	  <tr>
		<td>{{ approval.entry.user.name }}</td>
		<td>{{ approval.entry.entry_date }}</td>
        {% if approval.entry.is_linked %}
           <td>{{ approval.entry.link.entry_date }}</td>
        {% else %}
           <td></td>
        {% endif %}
        <td class="center">{{ approval.entry.time_difference|floatformat:2|intcomma }}</td>
        <td class="center">
          <input type="button" onclick="approve('{{ approval.id }}')" value="Approve" />
          <input type="button" onclick="deny('{{ approval.id }}')" value="Deny" />
        </td>
	  </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--[if IE]>
    </div id=IEFix>
    <![endif]-->

{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}DataTables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/approvals.js"></script>
<script>
  $(document).ready(function() {
     $('#example').dataTable();
  });
</script>
<script>
  var CONFIG = {
      APPROVAL_URL: "{% url "timetracker.overtime.views.accepted" %}"
  };
  console.log(CONFIG);
</script>
{% endblock additional_javascript %}
