{% extends "base.html" %}
{% block title %}
Understanding your balance
{% endblock title %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}


{% block content %}
<!--[ifIE]>
<div id="IEroot">
<!--[endif]-->

<div id="text-item">
  <h3>Understanding your balance</h3>
  <p>
    Your balance is derived from taking your allocated shift length of
    {{ shiftlength }}, multiplying it by the amount of work days recorded
    in the database ({{ working_days }}) then taking the cumulative total
    of the time tracked and finding the difference between the projected
    total and the actual total.
  </p>
  <p>Below is a mathematical representation:</p>
  <script src="https://gist.github.com/AeroNotix/5336914.js"></script>
  <h3> Balances </h3>
  <div style="display: inline-block; float: left">
    <table border="1">
      <tr>
        <td>Balance Type</td><td>Balance</td>
      </tr>
      {% for balance in balances %}
      <tr>
        <td>{{balance.0}}</td><td>{{balance.1|safe}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div style="display: inline-block; margin-left: 20px">
    <table border="1">
      <tr>
        <td>Day Type</td><td>Balance</td>
      </tr>
      {% for key, value in holiday_balances.items %}
      <tr>
        <td>{{key}}</td><td>{{value}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--[ifIE]>
</div>
<!--[endif]-->
{% endblock content %}
