{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css"
      rel="stylesheet" />
<link href="{{ STATIC_URL }}holidays.css" type="text/css"
      rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}
{% block title %}
Holiday Page - Timetracker
{% endblock title %}
{% block content %}
<!--[if IE 7]>
<div id="isie" isie="true"></div>
<![endif]-->
<!--[if IE]>
<div id=IEFix>
  <![endif]-->

<table id="full-table-wrapper">
  <tr>
    <td valign="top">
      {% include "includes/holiday_buttons.html" %}
    </td>
    <td>
      <div id="holiday-wrapper">
        {{ holiday_table|safe }}
      </div>
    </td>
</table>
</div>
<!--[If IE]>
</div>
<![endif]-->
{% endblock content %}
{% block extra_content %}
<div id="comments-wrapper">
  <table id="com-field">
    <tr>
      <td valign="top">
        {{ employee_select|safe }}
      </td>
      <td valign="top">
        <select id="day_options">
          {% for day in days_this_month %}
          <option value="{{ day }}">{{ day }}</option>
          {% endfor %}
        </select>
      </td>
      <td valign="top">
        <textarea id="comments-field-comment"></textarea>
      </td>
      <td>
        <ul>
          {% for comment in comments_list %}
          <li> {{ comment }} </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr><td></td><td></td>
      <td align="right">
        <button onclick="removeComment()">Remove</button>
        <button onclick="insertComment()">Change/Add</button>

  </table>
</div>
{% endblock extra_content %}
{% block additional_javascript %}
<script type="text/javascript">
  var js_calendar = {{ js_calendar|safe }};
</script>

<div id="newjs" style="display:none" hidden="hidden">
  var newjs = {{ js_calendar|safe }};
  js_calendar = newjs;
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/holiday_page.js"></script>
{% endblock additional_javascript %}
