{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}indeng.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_URL }}jquery.jqplot.min.css" type="text/css" rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}

{% block content %}
<div class="container">
  <h3>Industrial Engineering Reports: Utilization</h3>
  <table>
    <tr>
      <td>Team:
        <select id="team">
          {% for team in teams %}
          <option value="{{ team.0 }}">{{ team.1 }}</option>
          {% endfor %}
        </select>
        <input id="year" type="text" value="{{ year }}" />
        {{ months|safe }}
    </tr>
  </table>
</div>
<div id="chart1"></div>
<div></div>
{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/indeng.js"></script>
<script>
$(function() {
    $("#month").val("{{ selected_month }}");
    $("#team").val("{{ selected_team }}");
})
var CONFIG = {
   "REFRESH_URL": "{% url 'timetracker.industrial_engineering.views.utilization' %}"
};


$(document).ready(function(){
    var plotdata_util = [
        {% for key, value in utlztn_all.items %}
            {{ value.util.percent }},
        {% endfor %}
        ],
        plotdata_effi = [
        {% for key, value in utlztn_all.items %}
            {{ value.effi.percent }},
        {% endfor %}
        ],
        plotdata_avai = [
        {% for key, value in utlztn_all.items %}
            {{ value.avai.percent }},
        {% endfor %}
        ];

    var ticks = [{% for item in dates %}
                 "{{ item }}",
                 {% endfor %}];

    var plot1 = $.jqplot('chart1', [plotdata_util, plotdata_effi, plotdata_avai], {
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            rendererOptions: {fillToZero: true}
        },
        series:[
            {label:'Efficiency'},
            {label:'Utilization'},
            {label:'Availiability'}
        ],
        legend: {
            show: true,
            placement: 'outsideGrid'
        },
        axes: {
            xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks
            },
            yaxis: {
                tickOptions: {formatString: '%d%'}
            }
        }
    });
});
</script>



{% endblock additional_javascript %}
