{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}indeng.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_URL }}jquery.jqplot.min.css" type="text/css" rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}

{% block content %}
<div class="container">
  <h3>Industrial Engineering Reports: Utilization</h3>
  <table>
    <tr>
      <td>Team:
        <select id="team">
          {% for team in teams %}
          <option value="{{ team.0 }}">{{ team.1 }}</option>
          {% endfor %}
        </select>
        <input id="year" type="text" value="{{ year }}" />
        {{ months|safe }}
    </tr>
  </table>
  <div id="chart1"></div>
  <table>
    <tr>
      <td>Activity:</td>
      <td>
        <select id="activity">
          {% for activity in activities %}
          <option value="{{ activity.id }}">{{ activity.groupdetail }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
  <div id="chart2"></div>
</div>
<div id="screen">
  <img style="display:none" hidden="hidden" id="pic" align="middle" src="{{ STATIC_URL }}images/base/loading.gif" />
</div>
<div></div>
{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/indeng.js"></script>
<script>
$(function() {
    $("#month").val("{{ selected_month }}");
    $("#team").val("{{ selected_team }}");
})
var CONFIG = {
   "REFRESH_URL": "{% url 'timetracker.industrial_engineering.views.utilization' %}"
};


$(document).ready(function(){
    var plotdata_util = [
        {% for key, value in utlztn_all.items %}
            {{ value.util.percent }},
        {% endfor %}
        ],
        plotdata_effi = [
        {% for key, value in utlztn_all.items %}
            {{ value.effi.percent }},
        {% endfor %}
        ],
        plotdata_avai = [
        {% for key, value in utlztn_all.items %}
            {{ value.avai.percent }},
        {% endfor %}
        ],
        plotdata_util_target = [
        {% for key, value in utlztn_all.items %}
            {{ value.util.target }},
        {% endfor %}
        ],
        plotdata_effi_target = [
        {% for key, value in utlztn_all.items %}
            {{ value.effi.target }},
        {% endfor %}
        ],
        plotdata_avai_target = [
        {% for key, value in utlztn_all.items %}
            {{ value.avai.target }},
        {% endfor %}
        ],
        plotdata_activity = [
            {% for n in activity_data %}
            {{ n }},
            {% endfor %}
        ];

    var ticks = [{% for item in dates %}
                 "{{ item }}",
                 {% endfor %}];

    var plot1 = $.jqplot('chart1', [plotdata_util, plotdata_effi,
                                    plotdata_avai, plotdata_util_target,
                                    plotdata_effi_target, plotdata_avai_target], {
        series: [
            {label: 'Efficiency',
             renderer:$.jqplot.BarRenderer},
            {label: 'Utilization',
             renderer:$.jqplot.BarRenderer},
            {label: 'Availiability',
             renderer:$.jqplot.BarRenderer},
            {label: 'Efficiency Target',
             showMarker: false},
            {label: 'Utilization Target',
             showMarker: false},
            {label: 'Availability Target',
             showMarker: false}
        ],
        legend: {
            show: true,
            placement: 'outsideGrid'
        },
        axes: {
            xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks
            },
            yaxis: {
                max: 100,
                min: 0,
                tickOptions: {formatString: '%d%'}
            }
        }
    });

    var plot2 = $.jqplot('chart2', [plotdata_util, plotdata_activity], {
        title: "Efficiency with volumes",
        series: [
            {label: "Efficiency",
             renderer: $.jqplot.BarRenderer},
            {label: "Volume"}
        ],
        legend: {
            show: true,
            placement: 'outsideGrid'
        },
        axes: {
            xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks
            },
            yaxis: {
                max: 100,
                min: 0,
                tickOptions: {formatString: '%d%'}
            }
        }
    });

});
</script>
{% endblock additional_javascript %}
