{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}calendar.css" type="text/css"
      rel="stylesheet" />
<link href="{{ STATIC_URL }}holidays.css" type="text/css"
      rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}
{% block title %}
Overtime - Timetracker
{% endblock title %}

{% block content %}
<!--[if IE 7]>
<div id="isie" isie="true"></div>
<![endif]-->
<!--[if IE]>
<div id=IEFix>
  <![endif]-->
<table id="full-table-wrapper">
  <tr>
    <td valign="top">
      {% include "includes/overtime_buttons.html" %}
    </td>
    <td>
      <div id="holiday-wrapper">
        {{ ot_table|safe }}
      </div>
    </td>
</table>
<div id="entry_data_field">
</div>
<!--[if IE]>
    </div id=IEFix>
<![endif]-->
<style>
  #hidden_year {
     display: none;
 }
  #hidden_ee {
     display: none;
  }
</style>
<div id="hidden_year" hidden=true>{{year}}</div>
<div id="hidden_ee" hidden=true>{{eeid}}</div>
<div id="doculink">
  <a href="{{ doculink }}manager_guide.html#overtime">Documentation</a>
</div>

{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/overtime.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/holiday_shared.js"></script>
{% endblock additional_javascript %}
