{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}reporting.css" type="text/css"
      rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}
{% block title %}
Reporting
{% endblock title %}

{% block content %}
<!--[if IE 7]>
<div id="isie" isie="true"></div>
<![endif]-->
<!--[if IE]>
<div id=IEFix>
  <![endif]-->

<div class="container" id="reporting-box">
  <h3> Under Construction </h3>
  <form>
    <input id="to_email" type="checkbox" >Send reports via E-mail (not implemented)</input>
    <table>
      <tr>
        <td>
          All entries for:
        </td>
        <td>
          {{ employee_box|safe }}
        </td>
        <td></td>
        <td>
          <input onclick="all_holiday_data()" type="button" value="Download"/>
        </td>
      </tr>
    <tr>
      <td>
        All entries in:
      </td>
      <td>
        <input id="yearbox_hol" value="{{ yearbox_hol }}" />
      </td>
      <td>
        {{ monthbox_hol|safe }}
      </td>
      <td>
        <input onclick="yearmonth_holiday_data()" type="button" value="Download"/>
      </td>
    </tr>
    <tr>
      <td>
        Overtime report for HR:
        <td>
          {{ yearbox_ot }}
         </td>
        <td>
          {{ monthbox_hr|safe }}
        </td>
      </td>
      <td>
        <input onclick="overtime_data()" type="button" value="Download"/>
      </td>
    </tr>
    <tr>
      <td>
        Total Overtime Report by Month:
      </td>
      <td>
        <input id="yearbox_ot_month" value="{{ yearbox_hol }}" />
      </td>
      <td>
        {{ monthbox_ot|safe }}
      </td>
      <td>
        <input onclick="ot_by_month()" type="button" value="Download"/>
      </td>
    </tr>
    <tr>
      <td>
        Total Overtime Report by Year:
        </td>
      <td>
        <input id="yearbox_ot_year" value="{{ yearbox_hol }}" />
      </td>
      <td></td>
      <td>
        <input onclick="ot_by_year()" type="button" value="Download"/>
      </td>
    </tr>
    <tr>
      <td>
        Holidays in a month:
      </td>
      <td>
        <input id="yearbox_hols_year" value="{{ yearbox_hol }}" />
      </td>
      <td></td>
      <td>
        <input onclick="holidays_for_yearmonth()" type="button" value="Download"/>
      </td>
    </tr>
    </table>
  </form>
</div>
<div id="doculink">
  <a href="{{ doculink }}manager_guide.html#reporting">Documentation</a>
</div>

<!--[if IE]>
    </div id=IEFix>
<![endif]-->
{% endblock content %}
{% block additional_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/reporting.js"></script>
{% endblock additional_javascript %}
