{% extends "base.html" %}
{% block header %}
<link href="{{ STATIC_URL }}vcs.css" type="text/css" rel="stylesheet" />
{% endblock header %}
{% block menubar %}
{% include "includes/get_nav.html" %}
{% endblock menubar %}
{% block content %}
{{ logged_in_user.market }}

<div class="container" id="vcs-box">
  <div>
    <form id="amount" method="POST" action="{% url 'vcs.views.vcs_add' %}">

      <div class="center-form">
	    <label class="center-form" for="grp-slct">Activity Group</label>
	    <select class="multi" id="grp-slct" multiple>
	      {% for activity in logged_in_user.available_categories %}
	      <option value="{{ activity.grouptype }}">{{activity.grouptype}}</option>
	      {% endfor %}
	    </select>
      </div>

      <div class="center-form">
	    <label class="center-form" for="subgrp-slct">Activity</label>
	    <select class="multi" id="subgrp-slct" multiple></select>
      </div>

	  {% csrf_token %}
      <label for="which-date">Date:</label>
      <input id="which-date" value="{{ todays_date }}"/>
      <div class="form-align-right">
	    <input type="submit" />
	    <input type="hidden" name="activity_key" id="activity_key" value=""/>
	    <input id="amount-box" name="amount" />
	    <label for="amount" id="detail-msg"></label>
      </div>
    </form>
  </div>
  <div>
    <select class="multi" multiple></select>
  </div>
  {% block additional_javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}js/vcs.js"></script>
  <script type="text/javascript">
    var options = {};
    var details = {};
    {% for activity in logged_in_user.available_activities %}
    options["{{activity.grouptype}}"] += "<option value=\"{{ activity.id }}\">{{activity.groupdetail}}</option>";
    details["{{activity.id}}"] = "{{ activity.details }}";
    {% endfor %}

    $(function() {
        $("#amount-box").spinner({"min": 0});
        $("#which-date").datepicker().datepicker("option", "dateFormat", "yy-mm-dd");
        $("#which-date").datepicker("setDate", "{{ todays_date}}");
    });
  </script>
  {% endblock additional_javascript %}
  {% endblock content %}

